.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(30, 26, 26);
}

.login-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
 
}
.form-group {
  margin-bottom: 15px;
}
h2{
  color: #000;
}
label {
  color: #000;
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #080303;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: rgb(230, 230, 230);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background-color: #0f5fb6;
  color: white;
}


